# Java class files
*.class

# Gradle files
.gradle/
build/

# Key store files
*.jks
*.keystore

# IDE-related files
*.iws
captures/
.cxx
.navigation
output.json
# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# NDK
obj/
.externalNativeBuild

# Built application files
*.apk
*.ap_
*.aar
*.aab

# Configuration
local.properties

# Android Profiling
*.hprof

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Google Services
google-services.json

# ART/Dalvik VM files
*.dex

# OS temporary files
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Version control
vcs.xml

# Log/OS files
*.log

# Generated temporary files
bin/
gen/
out/
